{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css'%}">
  <script src="{% static 'js/index.js'%}"></script>
  <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
  <title>Login</title>
</head>
<body class="bodyHome" style="font-family: pixel;">
  <!--
  <div class="navbar">
    <br>
  <h1 style="background-color: white">
    <div class="topnav">
  <a onclick="home()" class="active" href="#home">Home</a>
  <a onclick="blogs()" href="#contact">Blogs</a>
  <a onclick="about()" href="#about">About</a>
  </h1>
</div> -->
  <div class="divL1">
	<h1>Register</h1>
	<form action="{% url 'main/'%}" method="post">
	  <input type="text" name="name" placeholder="Fulane1997">
	  <br>
	  <input type="password" name="password">
	  <br>
	  <input type="submit" value="Login">
	</form>
  </div>
</body>
</html>